/* COLORURS:
Yellow: rgb(240, 225, 24)
Red: rgb(230, 108, 85)
Pink: rgb(242, 196, 196)
Blue: rgb(29, 108, 147)
Grey: rgb(240, 240, 240)


TYPOGRAPHY:
font-family: "gt-pressura-mono", helvetica, arial, sans-serif; */
body {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: .12rem;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.checkout__modals__delivery-date-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  /* right: 0;
  bottom: 0; */
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(96,96,96,0.5);
}

.checkout__modals__delivery-date-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: white;
  border: 1px solid  #1d6c93;
  /* width: 95vw; */
  /* max-width: 50rem; */
}

/* .date-picker__header__arrow {
    position: absolute;
    top: 0.75rem;
    right: 1.5rem; preciously for exit button
    padding: 1rem;
    cursor: pointer;
} */

/* .date-picker__header__arrow.left {

}

.date-picker__header__arrow.left {

} */

h2 {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
  margin-bottom: 3rem;
  line-height: 1.45;

}

.date-picker {
  display: flex;
  flex-direction: column;
}

.date-picker__header {
  display: flex;
  justify-content: space-between;
}

.date-picker__header__day {
  color: #1d6c93;
}

.date-picker__body {
  display: flex;
  flex-wrap: wrap;
}

.date-picker__cell {
  display: flex;
  flex-grow: 0 1;
  padding: 0.25rem;
  width: 13.2%;
}

.date-picker__cell__item {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.date-picker__cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


.date-unavailable {
  background-color: #f0f0f0;
  color: #787878;
}

.date-available {
  background-color: white;
  border: 0.1rem solid #e66c55;
  color: #e66c55;
  cursor: pointer;
}

/* ONclick add className of Selected */
.date-selected {
  background-color: #e66c55;
  color: white;
  cursor: pointer;
}

.checkout__subtext {
  padding: 2rem;
  color: #1d6c93;
}

/* Button */
button {
  text-rendering: inherit;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
}
.btn {
  height: 100%;
  font-size: 1.7rem;
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  margin: 1em;
}

.checkout__cancel-btn {
  border: none;
}

.checkout__confirm-btn {
  border-color: #e66c55;
  color: #e66c55;
  box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0,0,0,0.5);
}











.picker-background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.88);
}

.picker-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3%;
  color: white;
  font-size: 22pt;
}

.picker-wrapper {
  font-family: Helvetica;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.picker-modal-wrapper {
  max-height: 400px;
  max-width: 600px;
  border-radius: 3px;
  padding: 0 2%;
  box-shadow: 0 0 10px rgb(123, 123, 123);
  width: 100%;
  height: 100%;
  background-color: white;
}

.picker-options {
  display: flex;
  flex-direction: row;
  height: 80%;
}

.picker-calendar {
  flex-grow: 2;
  margin: 1%;
  color: #22333E;
}

.picker-information-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1%;
  padding: 1%;
  max-width: 200px;
}

.picker-selected-date {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.picker-date-information {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.picker-date-information-day {
  flex-grow: 1;
  text-align: center;
  font-size: 34px;
}

.picker-date-information-details {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  flex-grow: 1;
}

.picker-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
}

.picker-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.picker-button {
  height: 30px;
  border-radius: 2px;
  border: 1px solid #ccc;
  color: black;
  background-color: white;
  text-align: center;
}

.picker-button:hover {
  background-color: #e6e6e6;
}

.picker-button:active, .picker-button:focus {
  outline: none;
}

.picker-calendar-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #22333E;
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.picker-calendar-controls, .picker-calendar-week-days {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.picker-calendar-week-days {
  flex-grow: 1;
  justify-content: space-around;
  padding-bottom: 1%;
}

.picker-calendar-weeks-wrapper {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 230px;
  padding: 2px;
}

.picker-calendar-weeks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 38px;
}

.picker-calendar-days, .picker-calendar-days-empty {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.picker-calendar-days:hover {
  background-color: #e6e6e6;
}

.picker-calendar-header-prev, .picker-calendar-header-next {
  flex-grow: 1;
  text-align: center;
}

.picker-calendar-header-month {
  flex-grow: 2;
  text-align: center;
}

.today, .today:hover {
  background-color: #22333E;
  color: white;
}

.clickable {
  cursor: pointer;
}

hr {
  border-style: solid;
  color: #ddd;
}

/* xs */
@media (max-width: 767px) {
  .picker-modal-wrapper {
    max-width: 300px;
  }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
}

/* md */
@media (min-width: 992px) {
}

/* lg */
@media (min-width: 1200px) {
}
